* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

#high-score, #countdown {
    font-size: 20px;
    padding: 10px;
}

#quiz-title, #overview {
    text-align: center;
}

#overview {
    font-size: 20px;
}

#start-button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: purple;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    padding:10px 20px;
}