* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

#high-score, #countdown {
    font-size: 20px;
    padding: 10px;
}

#quiz-title, #overview {
    text-align: center;
}

#overview {
    font-size: 20px;
}

#start-button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgb(194, 35, 35);
    color:white;
    border-radius: 5px;
    font-size: 20px;
    padding:10px 20px;
}

#question-one, #question-two {
    padding: 20px;
}

#q1, #q2 {
    text-align: center;
}

#q1-opt1, #q1-opt2, #q1-opt3, #q1-opt4 {
    display:flex;
    margin:20px 20px 20px 45%;
}
#q2-opt1, #q2-opt2, #q2-opt3, #q2-opt4 {
    display: flex;
    margin:20px 20px 20px 43%;
}

#q1-opt1 {
    padding-right: 40px;
}
#q1-opt3 {
    padding-right: 53px;
}
#q1-opt4 {
    padding-right: 22px;
}

#q2-opt1 {
    padding-right: 102px;
}
#q2-opt2 {
    padding-right: 37px;
}
#q2-opt3 {
    padding-right: 54px;
}