* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

#high-score-menu, #countdown, #final-time {
    font-size: 20px;
    padding: 10px;
}
#high-score-menu {
    margin: 20px 0px;
    background: none;
    border: none;
}

#quiz-title, #overview, #q1, #q2, #q3, #q4, #q5, #all-done, #final-score, #correct, #incorrect, #high-scores {
    text-align: center;
}

#all-done {
    font-size: 50px;
}

#overview {
    font-size: 20px;
}

#final-score, #display-score, #initials {
    font-size: 35px;
}
#final-score {
    margin-left: 100px;
}
#display-score {
    margin-left: 20px;
}

#correct, #incorrect {
    font-size: 20px;
    font-style: italic;
}
#correct {
    color: green;
}
#incorrect {
    color: red;
}

#start-button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgb(194, 35, 35);
    color:white;
    border-radius: 5px;
    font-size: 20px;
    padding:10px 20px;
}

#question-one, #question-two, #question-three, #question-four, #question-five, #quiz-over {
    margin: auto;
}
#question-two, #question-three, #question-four, #question-five, #quiz-over {
    border-bottom: 3px solid black;
    width: 50%;
}

#q1-opt1, #q1-opt2, #q1-opt3, #q1-opt4, 
#q2-opt1, #q2-opt2, #q2-opt3, #q2-opt4,
#q3-opt1, #q3-opt2, #q3-opt3, #q3-opt4,
#q4-opt1, #q4-opt2, #q4-opt3, #q4-opt4,
#q5-opt1, #q5-opt2, #q5-opt3, #q5-opt4,
#initials {
    display: flex;
}

#final-score, #display-score, #enter-initials, #initials-input {
    display: inline-block;
}
#enter-initials, #initials-input, #initials-input, #initials-submit {
    margin: auto;
}

#initials-input, #enter-initials {
    padding-bottom: 15px;
}

::placeholder {
    font-size: 20px;
}

#initials-submit {
    height: 50px;
    width: 300px;
}

#submit {
    height: 50px;
}
#submit, #enter-initials, #initials-input  {
    justify-content: space-between;
}

#q1-opt1, #q1-opt2, #q1-opt3, #q1-opt4 {
    margin: 20px auto;
}
#q2-opt1, #q2-opt2, #q2-opt3, #q2-opt4 {
    margin: 20px auto;
}
#q3-opt1, #q3-opt2, #q3-opt3, #q3-opt4 {
    margin: 20px auto;
}
#q4-opt1, #q4-opt2, #q4-opt3, #q4-opt4 {
    margin: 20px auto;
}
#q5-opt1, #q5-opt2, #q5-opt3, #q5-opt4 {
    margin: 20px auto;
}

#q1-opt1 {
    padding-right: 40px;
}
#q1-opt3 {
    padding-right: 53px;
}
#q1-opt4 {
    padding-right: 22px;
}

#q2-opt1 {
    padding-right: 102px;
}
#q2-opt2 {
    padding-right: 37px;
}
#q2-opt3 {
    padding-right: 54px;
}

#q3-opt2 {
    padding-right: 87px;
}
#q3-opt3 {
    padding-right: 125px;
}
#q3-opt4 {
    padding-right: 72px;
}

#q4-opt1 {
    padding-right: 70px;
}
#q4-opt3 {
    padding-right: 86px;
}
#q4-opt4 {
    padding-right: 39px;
}

#q5-opt1 {
    padding-right: 54px;
}
#q5-opt3 {
    padding-right: 57px;
}
#q5-opt4 {
    padding-right: 42px;
}